body {
  font-family: budapest;
  margin: 0 50px;
  background-color: #f6a4c0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

.app {
  background-color: #fff;
  width: 300px;
  height: 500px;
  border: 5px solid #66475f;
  border-radius: 8px;
  padding: 15px;
  overflow-y: scroll;
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(221, 125, 188, 0.35);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.fa-plus {
  background-color: #ea7fbf;
  padding: 3px;
  border-radius: 3px;
}

#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

#tasks div {
  border: 3px solid #e86abc;
  background-color: #f1cae1;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}

#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#tasks div .options i {
  cursor: pointer;
}

#msg {
  color: rgb(255, 0, 183);
}

}